body {
    margin-top: 20px;

}

body {
    background-image: url("../images/rest1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}