header {
    background-image: url('../images/rest1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.custom-text {
    color: black;
    font-family: "Freestyle Script", serif;
    font-weight: bolder;
    font-size: calc(1em + 4vw);
}

ul.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-link {
    color: black;
    font-family: "Freestyle Script", serif;
    font-size: calc(0.5em + 2vw);
}

.nav-link:hover {
    color: #666;
}