{% extends "base.html" %}

{% block content %}
  <h1>
    Cook: {{ cook.first_name }} {{ cook.last_name }}
  </h1>
  <p><strong>Years of experience:</strong> {{ cook.years_of_experience }}</p>

  <div class="ml-3">
    <h4>Master is prepared:</h4>
    {% for dish in cook.dishes.all %}
      <li>{{ dish.dish_type.name }}</li>
    {% empty %}
      <p>No dish!</p>
    {% endfor %}
    <h4>Signature dishes from the chef:</h4>
    {% for dish in cook.dishes.all %}
      <li>{{ dish.name }}</li>
    {% empty %}
      <p>No dish!</p>
    {% endfor %}
  </div>
{% endblock %}