{% extends "base.html" %}

{% block content %}
  <h1>Dish Type list</h1>
  <h2> Create new Dish Type: <a href="{% url 'kitchen:dish-type-create' %}"
                                class="btn btn-primary link-to-page">
    Create</a></h2>
  {% if dish_type_list %}
    <table class=" table">
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>



      {% for dish_type in dish_type_list %}
        <tr>
          <td>
            {{ dish_type.id }}
          </td>
          <td>
            {{ dish_type.name }}
          </td>
        </tr>

      {% endfor %}
    </table>
  {% endif %}

{% endblock %}


