{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="header-menu">Menu</h1>
  {% if user.is_staff %}
    <h2>Create new Dish: <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">
      Create</a></h2>
  {% endif %}
  {% if dish_list %}
    <table class="table-container">
      <tr>
        {% if user.is_staff %}
          <th>id</th>
        {% endif %}
        <th style="width: 10% ">Dish</th>
        <th style="width: 60%">Description</th>
        <th style="width: 10%">Dish type</th>
        <th style="width: 10%">Price</th>
        {% if user.is_staff %}
          <th>Update</th>
        {% endif %}
        {% if user.is_staff %}
          <th>Delete</th>
        {% endif %}
      </tr>

      {% for dish in dish_list %}
        <tr class="tab-bottom">
          {% if user.is_staff %}
            <td>{{ dish.id }}</td>
          {% endif %}
          <td>
            <a href="{% url "kitchen:dish-detail" pk=dish.id %} ">{{ dish.name }}</a>
          </td>
          <td>{{ dish.description }}</td>
          <td>{{ dish.dish_type.name }}</td>
          <td>{{ dish.price }}</td>
          {% if user.is_staff %}
            <td><a href="{% url 'kitchen:dish-update' pk=dish.id %}">Update</a></td>
          {% endif %}
          {% if user.is_staff %}
            <td><a style="color: red" href="{% url 'kitchen:dish-delete' pk=dish.id %}">Delete</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}